// 全局样式配置
$color-theme = #00ADC7;
$color-lighttheme = #E8F6F9;
$color-darktheme = #135F6B;
$color-bg = #F5F5F5;
$color-lightbg = #FAFAFA;
$color-shadow = rgba(212, 212, 212, 1);
$color-red = #E81F2A;
$color-black = #333333;
$color-white = #FFFFFF;
$color-gray = #999999;
$color-lightgray = #E6E6E6;
$color-blue = #46B2E6;
$color-green = #49C661;
$color-e = #EEEEEE;
$color-orange = #F96208;
$color-darkorange = #FC5036;
$color-darkyellow = #DC9A1D;

$color-text-gray = #999999;
$color-text-darkgray = #666666;
$color-text-lightgray = #BBC2C5;
$color-text-black = #333333;
$color-text-red = #E81F2A;
$color-text-orange = #F96208;
$color-text-darkorange = #FC5036;
$color-text-darkblue = #5C9CEC;

$color-button-gray = #999999;
$color-button-lightblue = #6BA7D6;

$linear-gradient-button-theme = linear-gradient(297deg,rgba(14,203,231,1) 0%,rgba(9,180,206,1) 100%);
$linear-gradient-bg-theme = linear-gradient(90deg,rgba(17,192,219,1) 0%,rgba(70,189,234,1) 100%);
$linear-gradient-theme = linear-gradient(90deg,rgba(17,192,219,1) 0%,rgba(70,189,234,1) 100%);

$font-10 = 20rpx;
$font-11 = 22rpx;
$font-12 = 24rpx;
$font-13 = 26rpx;
$font-14 = 28rpx;
$font-15 = 30rpx;
$font-16 = 32rpx;
$font-17 = 34rpx;
$font-18 = 36rpx;
$font-19 = 38rpx;
$font-20 = 40rpx;
$font-22 = 44rpx;
$font-24 = 48rpx;
$font-26 = 52rpx;
$font-28 = 56rpx;
$font-30 = 60rpx;
$font-32 = 64rpx;
$font-40 = 80rpx;
$font-42 = 84rpx;
$font-48 = 96rpx;
