// 全局样式配置
// $color-theme = #00ADC7;
$color-theme = #46B8E1;
$color-lighttheme = #E5F3F8;
$color-darktheme = #137CA2;
$color-bg = #F5F5F5;
$color-lightbg = #FAFAFA;
$color-sepline = #E2E2E2;
$color-shadow = rgba(212, 212, 212, 1);
$color-red = #E81F2A;
$color-black = #333333;
$color-white = #FFFFFF;
$color-gray = #999999;
$color-lightgray = #E6E6E6;
$color-blue = #46B2E6;
$color-green = #49C661;
$color-e = #EEEEEE;
$color-orange = #F96208;
$color-darkorange = #FC5036;
$color-darkyellow = #DC9A1D;
$color-lightbrown = #F9EBCF;

$color-text-gray = #999999;
$color-text-darkgray = #666666;
$color-text-lightgray = #BBC2C5;
$color-text-black = #333333;
$color-text-red = #E81F2A;
$color-text-orange = #F96208;
$color-text-darkorange = #FC5036;
$color-text-darkblue = #5C9CEC;
$color-text-brown = #B87D15;

$color-button-gray = #999999;
$color-button-lightblue = #6BA7D6;

$linear-gradient-button-theme = linear-gradient(297deg,rgba(14,203,231,1) 0%,rgba(9,180,206,1) 100%);
$linear-gradient-bg-theme = linear-gradient(90deg,rgba(17,192,219,1) 0%,rgba(70,189,234,1) 100%);
$linear-gradient-theme = linear-gradient(90deg,rgba(17,192,219,1) 0%,rgba(70,189,234,1) 100%);

$font-10 = 20px;
$font-11 = 22px;
$font-12 = 24px;
$font-13 = 26px;
$font-14 = 28px;
$font-15 = 30px;
$font-16 = 32px;
$font-17 = 34px;
$font-18 = 36px;
$font-19 = 38px;
$font-20 = 40px;
$font-22 = 44px;
$font-24 = 48px;
$font-26 = 52px;
$font-28 = 56px;
$font-30 = 60px;
$font-32 = 64px;
$font-40 = 80px;
$font-42 = 84px;
$font-48 = 96px;
